@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$verde: #00B172;
$blanco: #FFF;
 
html{
    font-size: calc(8px + 0.390625vw);
    font-family: 'Roboto', sans-serif;
    body{
        display: grid;
        grid-template-rows: 4;
        margin: 0;
        
        p{
            color: #b6b5b5;
        }
        .navbar{
            display: flex;
            position: fixed;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            grid-row-start: 1;
            background-color: $blanco;
            padding: 5px;
            .logo-spotify{
                width: 100px;
            }
            .ul-nav{
                display: flex;
                align-content: center;
                list-style-type: none;
                flex-wrap: wrap;
                .li-nav{
                    float: left;
                    margin-right: 20px;
                    .a-nav{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        .div-header{
            background-image: url(../images/landing.jpg);
            background-size:cover;
            color: $blanco;
            height: 50vh;
            display: flex;
            order:1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        main{
            text-align: center;
            .div-main{
                display: flex;
                align-items: center;
                justify-content: space-around;
                [alt="music"]{
                    width: 50px;
                }
                .div-sm-main{
                    width: 100px;
                }
                .title-sm-main{
                    color: $verde;
                }
                .title-main{
                    text-decoration: underline solid $verde 2px;
                    text-underline-offset: 5px;
                }
            }
        }
        footer{
            background-color: $verde ;
            color: $blanco;
            padding: 40px;
            margin: 20px;
            .div-footer{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .spotify-white{
                    width: 70px;
                }
                .spotify-app{
                    width: 150px;
                }
                .p-footer{
                    color: $blanco;
                }
                .div-sm-footer{
                    display: flex;
                    flex-direction: column;
                }
                .title-footer{
                    text-decoration: underline solid $blanco 1px;
                    text-underline-offset: 5px;
                }
                .div-xs-footer{
                    width: 150px;
                }
                .p-footer{
                    color: rgba(255, 255, 255, 0.842);
                }
            }
        }
    }
}






